<form [formGroup]="form" (ngSubmit)="isDetailsOk()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" autocomplete="off">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password">
  </mat-form-field>
  <button mat-button type="submit" mat-raised-button color="primary" class="max-width" [disabled]="form.invalid">Login</button>
</form>
